<h1>Incorrect Login Info, Please Try Again<h1>

<form action='/login' method="post"/>
  <input type="text" name="loginUsername"/>
  <input type="text" name="loginPassword"/>
  <input type="submit"/>
</form>

<body>
</html>
