<html>
  <head>
  </head>

  <body>

    <h2>Add A New Trip</h2>
    <form class="" action="/trips" method="post" />
      <input type="text" name="departureCity" placeholder="Departure City" />
      <input type="text" name="arrivalCity" placeholder="Arrival City" />
      <input type="text" name="departureDate" placeholder="Departure Date" />
      <input type="text" name="returnDate" placeholder="Return Date" />
      <input type="text" name="imageURL" placeholder="imageURL" />
      <input type="submit" />
      <p></p>
    </form>

    <form action="/logout" method="get">
      <input type="hidden" name="sessionUser" value="{{req.session.username}}"/>
      <input type="submit" value="Logout"/>
    </form>

    <hr>

    <h2>Go to Chat Window</h2>
    <form action="/chat" method="get">
      <input type="submit"/>
    </form>

    <hr>

    <h2>Your Trips</h2>

    <ul>
    {{#tripList}}
      <li>
        <p>Departure City: {{departureCity}}</p>
        <p>Arrival City: {{arrivalCity}}</p>
        <p>Departure Date: {{departureDate}}</p>
        <p>Return Date: {{returnDate}}</p>
        <p><img src = '{{imageURL}}'></p>

        <form action="/deleteTrip" method="post">
          <input type="hidden" name="tripID" value="{{tripID}}"/>
          <input type="submit" value="Delete"/>
        </form>
      </li>
    {{/tripList}}
    </ul>

</html>
